# @file .gitignore
# cf. https://www.pluralsight.com/guides/how-to-use-gitignore-file

# Object files
*.o

# Literal File Names
# ignore any files named .DS_Store
.DS_Store

# Python
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
venv/

# https://github.com/github/gitignore/blob/master/TeX.gitignore

## Core LaTex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

# Bazel
# cf. https://github.com/bazelbuild/bazel/blob/master/.gitignore

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

bazel-*

# User-specific .bazelrc
user.bazelrc

# Rust
Cargo.lock
target

# Custom Builds
Build*